form[name="post-form"] input[type="text"] {
    border: none;
}

form[name="post-form"] input[name="title"] {
    font-size: xx-large;
}

form[name="post-form"] input {
    background-color: transparent;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 100%;
}

form[name="post-form"] textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 100%;
    
    resize: none;
    
    margin-bottom: 18px;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form[name="post-form"], form[name="post-form"]>div {
    height: 100%;
    padding: 0;
}

form[name="post-form"] .post-content {
    flex: auto;
}

form[name="post-form"] .submit-controls {
    padding-bottom: 8px;
}


