#header {
    width: 100%;
    margin-bottom: 8px;
    font-family: 'PT Sans', sans-serif;
}

#header .logo {
    display: table;
    margin: 0 auto;

}

.logo div {
    display: inline-block;
}

.link-group {
    display: inline;
    padding-left: 16px;
    padding-right: 16px;
}

h1 a:visited {
    color: black;
}

h1 a {
    color: black;
}

.separator {
    width: 950px;
    margin: 0 auto;
    background-color: gray;
    height: 1px;
}
