form[name="post-form"] input[type="text"] {
    border: none;
}

form[name="post-form"] input[name="title"] {
    font-size: xx-large;
}

form[name="post-form"] input {
    background-color: transparent;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 100%;
}

form textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 100%;
    
    resize: none;
    
    margin-bottom: 18px;
}
