#settings-page {
    width: 100%;
}

#settings-page>div {
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#settings-page .settings-navigation {
    width: 30%;
}

#settings-page .settings-navigation .links {
    width: calc(100% - 5px);
}

#settings-page .settings-navigation a {
    border-bottom: none;
    
    color: orangered;
    
    display: block;

    font-weight: bold;
    font-size: 200%;
}

#settings-page .settings-content {
    width: 70%;
}

span {
    padding-right: 4px;
}

#publishers-page {
    width: 100%;
}

#publishers-page > div {
    display: inline-block;
    
    vertical-align: top;
    padding: 0;

    width: 50%;
}

.publisher {
    margin-left: 16px;
    margin-bottom: 8px;
}

form[name="publisher"] .form-group {
    width: 100%;
}

form[name="publisher"] .select {
    width: 100%;
}

form[name="publisher"] input {
    width: 100%;
}

.publisher {
    padding: 5px;
    
    background-color: lightgray;
    
    border-radius: 3px;
}

.publisher h3 {
    margin-top: 4px;
}

.publisher-details > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
